*~
*.o
*.lo
*.a
*.la
*.m4
*.h5
*.pyc
config.*
*/.deps
*/.libs
*.out
*.gz
*.aux
*.pdf
*.ps
*.log
*.dvi
*.bbl
*.blg
*.toc
Makefile
Makefile.in
configure
missing
ar-lib
autogen.sh
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
stamp-h1

