*~
*.o
*.lo
*.a
*.la
*.h5
*.pyc
config.*
*/.deps
*/.libs
*.out
*.gz
*.aux
*.pdf
*.ps
*.log
*.dvi
*.bbl
*.blg
*.toc
*.stim
*.dat
*.xml
Makefile
Makefile.in
configure
missing
ar-lib
autogen.sh
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
aclocal.m4
lcg-env.sh
