*.o
*.lo
*.a
*.la
*.m4
*.h5
config.*
*/.deps
*/.libs
Makefile
Makefile.in
configure
missing
ar-lib
autogen.sh
autom4te.cache/
bin/dclamp
depcomp
examples/aec_test
install-sh
libtool
ltmain.sh
stamp-h1
cclamp
test_daq
constant_output
zero_output
