Source: lcg
Section: misc
Priority: optional
Maintainer: Daniele Linaro <danielelinaro@gmail.com>
Build-Depends: cdbs,
               debhelper,
               dh-autoreconf,
               bash-completion,
               python-all-dev (>= 2.6.6-3),
               python,
               pkg-config
Standards-Version: 3.9.3
Homepage: http://danielelinaro.github.io/dynclamp
X-Python-Version: >= 2.6

Package: lcg
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         libhdf5-dev (>= 1.8),
         libboost-dev,
         libboost-thread-dev,
         python-numpy,
         python-scipy,
         python-matplotlib,
         python-tables,
         python-lxml
Description: Electrophysiology toolbox
 LCG is a toolbox for electrophysiological experiments with a command-line interface.
 It allows the user to perform conventional voltage and current clamp experiments,
 as well as real-time closed-loop experiments, such as dynamic clamp.
