<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>LCG</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>LCG</h1>
        <h2>A software for hybrid closed-loop electrophysiological experiments</h2>
        <ul>
          <li><a href="https://github.com/danielelinaro/dynclamp/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/danielelinaro/dynclamp/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="http://github.com/danielelinaro/dynclamp">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
	{{content}}
      </section>
    </div>
    <footer>
      <p class="copyright">LCG maintained by <a href="https://github.com/danielelinaro">danielelinaro</a></p>
      <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </footer>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
